<header class="c-header">
    <a href="{{ site.url }}">
        <img src="{{ theme.link }}/favicon.svg"
             class="c-header__logo"
             alt="{{ site.name }}"/>
    </a>

    <nav>
        {% include 'partials/menu.twig' with {'menu': mainmenu.items, 'baseclass': 'c-mainmenu'} %}
    </nav>

</header>
