@use 'sass:map';
@use 'sass:meta';
@use 'base/mq-settings' as mq;
@use "base/functions" as *;

$ff-main: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-accent: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-secondary: $ff-main;

$font-size-base: rem-calc(16px);

// A map containing the basic typography for all the site
// The 2nd level of the map (body and heading) corresponds to the main typefaces.
// The 3rd level of the map corresponds to font property combinations that frequently go together. Any arbitrary word goes as a group name. The properties are usually font-size and line-height but can be also any other. Please avoid including color and other non typography properties here, though.
// Usage: @include u-set-typography($typeface, $style-name);

/* stylelint-disable indentation */
$font-styles: (
        'main': (
                'regular': (
                        font-size: $font-size-base,
                        line-height: 1.6
                ),
                'menu': (
                        font-size: rem-calc(16px),
                        line-height: 1.4,
                        font-weight: 500
                )
        ),
        'accent': (
                'main-title': (
                        font-size: rem-calc(32px),
                        line-height: 1.2,
                        font-weight: 700,
                        large: (
                                font-size: rem-calc(48px)
                        )
                ),
                'second-title': (
                        font-size: rem-calc(28px),
                        line-height: 1.3,
                        font-weight: 600,
                        large: (
                                font-size: rem-calc(36px)
                        )
                ),
                'third-title': (
                        font-size: rem-calc(24px),
                        line-height: 1.4,
                        font-weight: 600
                ),
                'fourth-title': (
                        font-size: rem-calc(20px),
                        line-height: 1.4,
                        font-weight: 600
                ),
                'fifth-title': (
                        font-size: rem-calc(18px),
                        line-height: 1.5,
                        font-weight: 600
                ),
                'sixth-title': (
                        font-size: rem-calc(16px),
                        line-height: 1.5,
                        font-weight: 600
                )
        ),
        'secondary': ()
);
@mixin u-set-typography($typeface-name: 'main', $style-name: 'regular') {

  $this-typeface: map.get($font-styles, $typeface-name);
  @if $this-typeface == null {
    $this-typeface: ();
  }
  $this-style: map.get($this-typeface, $style-name);
  @if $this-style == null {
    $this-style: ();
  }
  @if $typeface-name == 'main' {
    font-family: $ff-main;
  }
  @if $typeface-name == 'accent' {
    font-family: $ff-accent;
  }

  @if $typeface-name == 'secondary' {
    font-family: $ff-secondary;
  }

  @each $property, $value in $this-style {
    @if $property == 'large' and meta.type-of($value) == 'map' {
      @include mq.sfy-mq($from: large) {
        @each $subproperty, $subvalue in $value {
          @if $subproperty == 'font-size' {
            $subvalue: rem-calc($subvalue);
          }
          @if $subproperty == 'line-height' {
            $subvalue: rem-calc($subvalue);
          }

          #{$subproperty}: $subvalue;
        }
      }
    } @else {
      @if $property == 'font-size' {
        $value: rem-calc($value);
      }
      @if $property == 'line-height' {
        $value: rem-calc($value);
      }
      #{$property}: $value;
    }
  }
}

/* stylelint-enable indentation */
