@use '../../node_modules/sass-mq/mq' as *;
@use "base/functions" as *;
@use 'base/mq-settings';

$ff-main: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-accent: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-secondary: $ff-main;

$font-size-base: rem-calc(16px);

// A map containing the basic typography for all the site
// The 2nd level of the map (body and heading) corresponds to the main typefaces.
// The 3rd level of the map corresponds to font property combinations that frequently go together. Any arbitrary word goes as a group name. The properties are usually font-size and line-height but can be also any other. Please avoid including color and other non typography properties here, though.
// Usage: @include u-set-typography($typeface, $style-name);

/* stylelint-disable indentation */
$font-styles: (
        'main': (// aka Helvetica Neue
                'regular': (
                        font-size: $font-size-base,
                        line-height: 1.6
                ),
                'menu':(
                )
        ),
        'accent': (// aka heading font
                'main-title': (
                        font-size: rem-calc(20px),
                        line-height:1,
                        large: (
                                font-size: rem-calc(30px)
                        )
                ),
                'second-title':(
                )
        ),
        'secondary': ()
);
@mixin u-set-typography($typeface-name: 'main', $style-name: 'regular') {

  $this-typeface: map-get($font-styles, $typeface-name);
  @if $this-typeface == null {
    $this-typeface: ();
  }
  $this-style: map-get($this-typeface, $style-name);
  @if $this-style == null {
    $this-style: ();
  }
  @if $typeface-name == 'main' {
    font-family: $ff-main;
  }
  @if $typeface-name == 'accent' {
    font-family: $ff-accent;
  }

  @if $typeface-name == 'secondary' {
    font-family: $ff-secondary;
  }

  @each $property, $value in $this-style {
    @if map-has-key(mq-settings.$breakpoints, $property) and type-of($value) == 'map' {
      @include mq($from: $property) {
        @each $subproperty, $subvalue in $value {
          @if $subproperty == 'font-size' {
            $subvalue: rem-calc($subvalue);
          }

          #{$subproperty}: $subvalue;
        }
      }
    } @else {
      @if $property == 'font-size' {
        $value: rem-calc($value);
      }
      #{$property}: $value;
    }
  }
}


@mixin t-textcontent {
  /* stylelint-disable selector-max-type, selector-max-compound-selectors */

  // preventing text styles leaking into widgets pasted into content area via shortcodes
  & {
    blockquote {
      font-style: italic;
    }

    h1, h2, h3, h4, h5, h6 {
      color: var(--sfy-heading-color);
    }

    h1 {
      @include t-heading-main;
    }

    h2 {
      @include t-heading-second;
    }

    h3 {
      @include t-heading-third;
    }

    h4 {
      @include t-heading-fourth;
    }

    p, ul, ol {
      color: var(--sfy-text-color);

      &:not(:last-child),
      &:not(:only-child) {
        margin-bottom: var(--gutter-size-y);
      }
    }

    h2, h3, h4, h5, h6, p, ul, ol {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    ul li {
      list-style-type: disc;
    }

    ul, ol {
      li li {
        padding-left: var(--gutter-size);
      }
    }
  }
  img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0;
  }
  iframe {
    width: 100%;
  }

  /* stylelint-enable selector-max-type, selector-max-compound-selectors */
}

@mixin t-heading-main {
  @include u-set-typography('accent', 'main-title');
}

@mixin t-heading-second {
  @include u-set-typography('accent', 'second-title');
}

@mixin t-heading-third {
  @include u-set-typography('accent', 'third-title');
}

@mixin t-heading-fourth {
  @include u-set-typography('accent', 'fourth-title');
}

/* stylelint-enable indentation */
