@use '../base/mq-settings' as mq;
@use "../base/functions" as *;
@use "../typography" as *;

.c-error-page {

  & {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

  }

  @at-root {
    &__content {
    }

    &__heading {
    }

    &__message {
    }
  }
}
