@use '../base/functions' as *;
@use '../typography' as *;
@use '../base/mq-settings' as mq;

// @z-index space: 80-90
.c-mainmenu {

  & {


  }

  @at-root {
    &__nav {

    }

    &__burger-wrapper {

      @include mq.sfy-mq($from: xlarge) {
        display: none;
      }
    }

    &__hamburger {
      z-index: 1000;
      position: relative;

      &.is-active {
        opacity: 1;

      }
    }

    &__list {
      list-style: none !important;
      @include mq.sfy-mq($from: large) {
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
    }

    &__item {
      list-style: none !important;
      @include u-set-typography('main', 'menu');

      &:hover,
      &_current {
        // --sfy-link-color: red;

        &__link {

        }
      }

      &:hover {
        &__link {
        }
      }

      &_current {
        &__link {
        }
      }
    }

    &__link {

    }
  }
}
