/* stylelint-disable color-no-hex */

$color-accent: map-get($colors, 'accent');

$color-link: $color-accent;
$color-bg: white;


@each $name, $color in $colors {
  .has-#{$name}-color {
    color: $color;
  }
  .has-#{$name}-background-color {
    background: $color;
  }
}
