{% extends "singular.twig" %}


{% block singular_article_class ' c-article-page' %}


{% block content_area_inner_content %}
    <div class="c-error-page">
        <div class="c-error-page__message">
            <h1>{{ __('Error 404','sfy') }}</h1>
            <p>{{ __('The page you are looking for does not exists or have been removed',,'sfy') }}</p>
        </div>
    </div>
{% endblock %}
