/* stylelint-disable meowtec/no-px */
@use 'mq-settings';


$hamburger-padding-x: 10px;
$hamburger-padding-y: 8px;
$hamburger-layer-width: 18px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 5px;
$hamburger-layer-color: #fff;
$hamburger-active-layer-color: #000;

$hamburger-types: (collapse);


$grid-breakpoints: map-merge((xs: 0), mq-settings.$breakpoints);

$break-huge: 1440px;
$break-wide: 1280px;
$break-xlarge: 1080px;
$break-large: 1023px;
$break-medium: 1023px;
$break-small: 1023px;
$break-mobile: 480px;
$break-zoomed-in: 280px;

/* stylelint-enable meowtec/no-px */
