/* stylelint-disable meowtec/no-px */


$hamburger-padding-x: 10px;
$hamburger-padding-y: 8px;
$hamburger-layer-width: 18px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 5px;
$hamburger-layer-color: #fff;
$hamburger-active-layer-color: #000;

$hamburger-types: (collapse);

$gl-gutter: 30px;
$gl-mq-list: (
  small: 380px,
  medium: 768px,
  large: 1024px,
  xlarge: 1280px,
  xmlarge: 1400px,
  xxlarge: 1700px,
);

/* stylelint-enable meowtec/no-px */
