@use '~sass-mq/mq' as *;
/* stylelint-disable meowtec/no-px */

// Proportions
$unit-x: rem-calc(10px);
$unit-y: $unit-x;

// Widths

//Thumbnail sizes — same as wp registered sizes unless noted otherwise
// $third-low-height:300px;

// Visual effects

// Transitions & animations
// note that property is omitted 
$transition-main: ease-out .4s;

// Excluded selectors (only simple selectors)
// use @include t-focused with arguments to set your own styling when element is focused
$classes-exclude-from-focus: (
        'c-selector-1' 'c-selector-2'
);


// Breakpoints
// usage: @include mq($from: xlarge) {}

:root {

  --themeprefix-text-color: #{map-get($colors, 'black')};
  --themeprefix-link-color: #{map-get($colors, 'accent')};
  --themeprefix-heading-color: #{map-get($colors, 'accent')};

  // --bs-gutter-x: 10px;
  @include mq($from: large) {
    //--bs-gutter-x: 40px;
  }
}

.row {
  //--bs-gutter-x: 20px;
}

/* stylelint-enable meowtec/no-px */
